{% extends "homebase.html" %}
{% block content %}

<div class="mb-4 p-5 bg-dark text-white ">
  <h1>About US</h1> 
  
</div>
   <div class="container py-4">
    <div class="col-sm-8">
        <div class="h4">About Us</div>
        <p>Welcome to [SME PhishDefender], a project born out of academic research and dedication to improving cybersecurity for small and medium businesses. This journey began with a mission to address the growing threat of phishing attacks on Nigerian SMEs, which disproportionately affect small enterprises lacking robust cybersecurity measures. As part of a master's dissertation endeavor at Bournemouth University, I embarked on the development of phishing detection and URL verification system tailored to the needs of small and medium-sized businesses.</p>
<p>Led by a passion to help people save their businesses from cyber ciminals, and armed with the understanding of the pain points of SMEs with regards to phishing attacks, as informed by survey responses from SME owners, and employees working in different SME categories in Nigeria, I created this user-friendly platform that empowers small business owners to safeguard their online presence. I prioritized simplicity, accuracy, and accessibility in the design of this tool.</p>
<p>My dedication to excellence extends beyond the development of this phishing detection tool. I'm committed to ongoing research and innovation, continuously refining this tool to adapt to evolving cyber threats and industry best practices.</p>
<p>Moreover, I firmly believe that cybersecurity is not just a privilege for large corporations&mdash;it is a fundamental right for all businesses, regardless of size.</p>
<p>Thank you for using the tool!</p>
    </div>

    <div class="col-sm-4"></div>
   </div>
{% endblock %}
