{% extends "homebase.html" %}
{% block content %}

<div class="mb-4 p-5 bg-dark text-white ">
  <h1>FAQs</h1> 
  
</div>
   <div class="container py-4">
    <div class="col-sm-8">
        <p>FAQs</p>
        <p>1. How does the phishing and detection system work?</p>
        <p>Our URL phishing detection system analyzes the provided web address using advanced algorithms and databases of known phishing sites to determine its legitimacy. It scans for suspicious patterns, age domains, redirects, and other indicators of phishing activity.</p>
        <p>2. Is the phishing detection system suitable for all types of businesses?</p>
        <p>Yes, our tool is designed to cater to the needs of small and medium-scale businesses across various industries. Whether you're a startup, a local retailer, or an online service provider, our phishing detection system can help you enhance your cybersecurity measures.</p>
        <p>3. How accurate is the phishing detection system in detecting phishing URLs?</p>
        <p>While we strive for high accuracy, no tool can guarantee 100% detection rate. However, our tool leverages a combination of machine learning, threat intelligence, and real-time analysis to provide reliable results and minimize false positives.</p>
        <p>4. What support and resources are available if I encounter any issues with the system?</p>
        <p>We provide comprehensive support and resources to assist you with any questions or issues you may encounter. Our dedicated support team is available to answer queries, troubleshoot issues, and provide guidance on maximizing the effectiveness of this phishing detection solution for your business. Additionally, you can reach us through the Contact Us page.</p>
        <p>5. What types of URLs can the phishing checker tool analyze?<br />Our URL phishing checker is capable of analyzing various types of web addresses, including HTTP and HTTPS URLs, as well as links to specific web pages or resources. Whether it's a website URL, a link in an email, or a social media post, our tool can help you verify its legitimacy.</p>
    </div>

    <div class="col-sm-4"></div>
   </div>
{% endblock %}
