<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- Include Bootstrap CSS (you may need to adjust the paths) -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        {% extends "base.html" %}
        {% block content %}
            <h1>Admin Page</h1>
            <h2>Results</h2>
            <ul>
                {% for result in results %}
                    <li>{{ result.result }}</li>
                {% endfor %}
            </ul>
        {% endblock %}
    </div>
</body>
</html
